.featured {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;   
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -3px 6px 6px 7px rgba(0,0,0,0.23);
    -webkit-box-shadow: -3px 6px 6px 7px rgba(0,0,0,0.23);
    -moz-box-shadow: -3px 6px 6px 7px rgba(0,0,0,0.23);
}
.featuredTitle {
    font-size: 20px;
}
.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney {
font-size: 30px;
font-weight: 600;
}

.featuredRate {
   display: flex;  
   align-items: center;
   margin-left: 20px;
}

.featuredIcon {
    font-size: 14px !important;
    margin-left: 5px;
    color: chartreuse;
}

.featuredIcon.negative{
    color: rgb(177, 65, 87);
} 

.featuredSub{
    font-size: 15px;
    color: grey;
}