.userList{
    flex: 4;
}

.userListUser {
    display: flex;
    align-items: center;
 }

 .userListImg {
     width: 32px;
     height: 32px;
     border-radius: 50%;
     object-fit: cover;
     margin-right: 4px;
 }

 .userListEdit {
     color: #3bb077;
     cursor: pointer;
     align-items: center;
 }
 .userListDelete {
    color: red;
    cursor: pointer ;
}